Setup DHCP service on builder-00 for fabrics

Set up the DHCP service on the builder-00 server, OPA fabric is ready now.

OmniPath fabric is ready now.
Ethernet / IB fabrics are pending last hardware to arrive.

@dledford do you have the pointer the scripts you mentioned on the call for building the DHCP file.

Yes.  There are two things that implement the dhcp server setup from the fsdp_setup repo:

From rdma-functions.sh we get the definition of our fabric networks:

# Defines of all our network fabrics so we don't have to define these
# in multiple places
ib0_2k_nets=(ib0 ib0.2 ib0.4 ib0.6 ib0.8)
ib0_4k_nets=(ib0.10 ib0.12 ib0.14 ib0.16)
ib0_nets=(${ib0_2k_nets[*]} ${ib0_4k_nets[*]})
ib1_2k_nets=(ib1 ib1.3 ib1.5 ib1.7)
ib1_4k_nets=(ib1.9 ib1.11 ib1.13)
ib1_nets=(${ib1_2k_nets[*]} ${ib1_4k_nets[*]})
opa0_nets=(opa0 opa0.22 opa0.24)
opa1_nets=(opa1 opa1.23 opa1.25)
roce_nets=(roce roce.43 roce.45)
iw_nets=(iw iw.51 iw.52)
all_nets=(${ib0_nets[*]} ${ib1_nets[*]} ${opa0_nets[*]} ${opa1_nets[*]} ${roce_nets[*]} ${iw_nets[*]})

Also from rdma-functions.sh we get the function we run on the server and the internal function it calls (in the rdma-functions.sh script, all functions intended to be called by external entities are done in StudlyCaps with _ word separators and all internal functions are done as __ prefix, _ word separators, and all lower case):

__generate_dhcpd_base() {
	out=dhcpd.conf.base
	cat > $out << EOF
#
# DHCP Server Configuration file.
#   see /usr/share/doc/dhcp*/dhcpd.conf.sample
#   see 'man 5 dhcpd.conf'
#
#
# This file is autogenerated by the rdma-functions.sh script
# Do not manually edit and expect your changes to survive the
# next install cycle.
#
ignore client-updates;
EOF
	for subnet in ${all_nets[*]}; do
		__get_net_from_subnet $subnet
		echo "# subnet $subnet" >> $out
		echo "subnet 172.31.$net.0 netmask 255.255.255.0 {" >> $out
		echo "	authoritative;" >> $out
		echo "" >> $out
		echo "	# option routers 172.31.$net.254;" >> $out
		echo "	option subnet-mask 255.255.255.0;" >> $out
		echo "	range 172.31.$net.240 172.31.$net.252;" >> $out
		echo "	# option domain-name \"lab.bos.redhat.com\";" >> $out
		echo "	# option domain-name-servers 10.16.36.29,10.11.5.19,10.5.30.160;" >> $out
		echo "	# option time-offset	-18000; #EST" >> $out
		echo "	default-lease-time	3600; #1 hour so we see problems faster" >> $out
		echo "	max-lease-time		7200;" >> $out
		echo "	# filename		\"pxelinux.0\";" >> $out
		echo "}" >> $out
		echo "" >> $out
	done
}

Setup_Dhcp_Server() {
	if [ "$RDMA_HOST" != "builder-00" ]; then
		echo "The Setup_Dhcp_Server function can only be used on the"
		echo "host builder-00."
		return
	fi
	# We need to create an iptables setup that blocks all dhcp traffic on
	# the lab network interface
	eth0=lom_1
	eth=lom_+
	cat << EOF > /etc/sysconfig/iptables
# Manually created firewall rules, do not run any firewall rules editing
# programs or these rules will be lost
# We must take special care to make sure that the dhcp server we will be
# running won't attempt to respond to anything on the test lab network
*filter
:INPUT ACCEPT [0:0]
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
-A OUTPUT -p tcp -m tcp --sport bootps -o $eth0 -j REJECT
-A OUTPUT -p udp -m udp --sport bootps -o $eth0 -j REJECT
COMMIT
EOF
	Enable_Service iptables
	Disable_Service ip6tables
	Disable_Service firewalld
	# Get our dhcpd.conf file and turn on dhcpd
	$INSTALL dhcp
	pushd /etc/dhcp >/dev/null
	__generate_dhcpd_base
	get_file gen_dhcpd_conf
	chmod +x gen_dhcpd_conf
	if [ ! -d hosts.d ]; then
		mkdir hosts.d
	fi
	./gen_dhcpd_conf
	popd >/dev/null
	Enable_Service dhcpd
}

Then on the client machines, the main rdma_setup.sh script runs this sequence:

# This will set ETHER_MACS, IB_MACS, and MACS[] and must be done even if
# we know our hostname
Get_MACs_Of_Host
host_config_done=""

RDMA_HOST=`hostname -s`
if [ -n "$RDMA_HOST" -a "$RDMA_HOST" != "localhost" ]; then
	get_file machines/"$RDMA_HOST"
	if [ -f "$RDMA_HOST" ]; then
		. ./"$RDMA_HOST"
		host_config_done="yes"
	fi
fi
if [ -n "$host_config_done" ]; then
	RDMA_HOST=`echo $HOSTNAME | cut -f 1 -d '.'`
	if [ -z "$RDMA_HOST" -a "$RDMA_HOST" != "localhost" ]; then
		get_file machines/"$RDMA_HOST"
		if [ -f "$RDMA_HOST" ]; then
			. ./"$RDMA_HOST"
			host_config_done="yes"
		fi
	fi
fi
if [ -z "$host_config_done" ]; then
	for mac in ${MACS[*]}; do
		echo "Trying to retrieve $mac..."
		get_file machines/"$mac"
		if [ -f "$mac" ]; then
			. ./"$mac"
			host_config_done="yes"
			break
		fi
	done
fi
if [ -z "$host_config_done" ]; then
	echo "Error!  Unable to find a host configuration for this machine!"
	echo
	echo "Tried:"
	echo "	hostname -s:	`hostname -s`"
	echo "	HOSTNAME:	$HOSTNAME"
	echo "	MACs:		${MACS[*]}"
	echo
	echo "Setup is incomplete."
else
	Set_Config_Options /root/.bash_profile "setup options" "export RDMA_HOST=$RDMA_HOST
export host_part=$host_part
export HOST_FABRICS=(${HOST_FABRICS[*]})
export OS=$OS
export RELEASE=$RELEASE
cp -f rdma-functions.sh rdma-functions.sh~
get_file rdma-functions.sh
[ ! -f rdma-functions.sh ] && cp rdma-functions.sh~ rdma-functions.sh
. ~/rdma-functions.sh"

	# These commands need ${HOST} to be set, so must come after we
	# source our interface definition file
	# ssh configuration for non-root user 'test'. honli
	Setup_Test_User_Ssh

	# During the host specific config, we should have added our various
	# mac addresses to the list DHCP_MACS and DHCP_CLIENT_IDS, but
	# we can't ssh to rdma-master and create our hosts.d/host file
	# until after the Setup_SSH routine is done, so we do it now.
	Setup_Dhcp_Client
fi

While most of the above doesn't seem relevant to the client side DHCP, it is actions the client side dhcp setup functions in rdma-functions.sh depends on and therefore must happen before this code in rdma-functions.sh is called:

Create_Client_Ids() {
	# Usage: pass the 8byte GUID(s), spits out RFC4390, RFC4361, RFC4122,
	# and RFC6355 client IDs and also spits out an InfiniBand hardware
	# address encoded as a client ID (whew!)
	# guid format: 8 bytes in colon hex format, aka 00:01:02:03:04:05:06:07
local __awk_src='
BEGIN {
	if (id != "") {
		machine_id=substr(id, 1, 2)
		for (i=3; i<=31; i+=2)
			machine_id=machine_id":"substr(id, i, 2)
	}
}
{
	if (NF != 8) {
		print "Wrong number of elements in GID: "NF
		print "Line was: "$0
		exit 1
	}
	# Custom Mellanox as used by everything up to rhel7/f20
	print "ff:00:00:00:00:00:02:00:00:02:c9:00:"$1":"$2":"$3":"$4":"$5":"$6":"$7":"$8
	# RFC4361 as used by f21 through f23 cant be worked out until after
	#  the machine has asked for a dhcp address for the first time as
	#  the variable part is non-predictable
	# RFC4122 as used by f24 and later uses the machine id of the system
	#  and we have access to that, so we can figure it out
	if (machine_id)
		print "ff:"$5":"$6":"$7":"$8":00:04:"machine_id
	# Encode this GID as a hardware address wrapped in a client-id
	print "20:"$1":"$2":"$3":"$4":"$5":"$6":"$7":"$8
}'
	ID=()
	local machine_id=""
	[ -f /etc/machine-id ] && machine_id=`cat /etc/machine-id`
	for gid in $*; do
		local temp_id
		temp_id=$(echo $gid | awk -F ':' -v id="$machine_id" -- "$__awk_src")
		ID=(${ID[*]} $temp_id)
	done
}

Setup_Dhcp_Client() {
	[ "$RDMA_HOST" = "rdma-master" -o "$RDMA_HOST" = "rdma-storage-01" ] && return
	rm -f /root/$RDMA_HOST.dhcp.?
	ssh rdma-master "rm -f /etc/dhcp/hosts.d/$RDMA_HOST.dhcp.*"
	ssh rdma-storage-01 "rm -f /etc/dhcp/hosts.d/$RDMA_HOST.dhcp.*"
	[ -z "${IPS[*]}" ] && return
	macs=0
	eths=0
	for mac in ${HARDWARE[*]}; do
		let eths++
		let macs++
	done
	gids=0
	for gid in ${GIDS[*]}; do
		let gids++
		let macs++
	done
	Create_Client_Ids ${GIDS[*]}
	ids=0
	for id in ${ID[*]}; do
		let ids++
	done
	k=0
	while [ $k -lt $macs -o $k -lt $ids ]; do
		echo -ne "host $RDMA_HOST.$k {\n" > $RDMA_HOST.dhcp.$k
		echo -ne "\tfixed-address " >> $RDMA_HOST.dhcp.$k
		j=0
		for i in ${IPS[*]}; do
			[ $j -gt 0 ] && echo -ne "," >> $RDMA_HOST.dhcp.$k
			echo -ne "$i" >> $RDMA_HOST.dhcp.$k
			let j++
		done
		echo -ne ";\n" >> $RDMA_HOST.dhcp.$k
		if [ $k -lt $eths ]; then
			echo -ne "\thardware ethernet ${HARDWARE[$k]};\n" >> $RDMA_HOST.dhcp.$k
		elif [ $(($k - $eths)) -lt $gids ]; then
			echo -ne "\thardware infiniband ${GIDS[$(($k - $eths))]};\n" >> $RDMA_HOST.dhcp.$k
		fi
		[ -n "${ID[$k]}" ] && \
			echo -ne "\toption dhcp-client-identifier=${ID[$k]};\n" >> $RDMA_HOST.dhcp.$k
		echo -ne "}\n\n" >> $RDMA_HOST.dhcp.$k
		let k++
	done
	scp $RDMA_HOST.dhcp.? rdma-master:/etc/dhcp/hosts.d
	scp $RDMA_HOST.dhcp.? rdma-storage-01:/etc/dhcp/hosts.d
	ssh rdma-master /etc/dhcp/gen_dhcpd_conf
	ssh rdma-storage-01 /etc/dhcp/gen_dhcpd_conf
}

Obviously, this all needs tweaked for the setup of the FSDP, but that's where all the magic happens that keeps the dhcp updated and in sync with the system configs as machines change, hosts are added, etc.

There are a few other support functions in rdma-functions.sh that I didn't copy and past into this thread.  Their actions are easy enough to grasp from their names and they can always be looked up in the file.

I forgot to mention, that creates the dhcpd.conf.base file that is on the dhcp server, and it copies over individual files for the necessary host entries to put in the dhcpd.conf file, and then there is the gen_dhcpd_conf script in the fsdp_setup repo that handles actually putting all the file parts together into a single file.  This might not be necessary if we can include a .d directory with all the client files in it as opposed to building a complete dhcpd.conf file.

Also, TFTP is now up and running on builder-00.ofa.iol.unh.edu, and any of the test nodes should be able to create files as needed in /hosts.d/ (relative to the tftp root).  So, now we just need to decide how builder is going to "consume" those files, when they are uploaded.